@media (min-width: 1280px) {
    .page-text__inner.jsx-3307320108 {
        padding: 0px;
    }
}
.container {
  color: rgb(0, 0, 0); /* Set the default text color to white */
}
.page-text__inner.jsx-3307320108 {
    padding: 0px 10px;
    max-width: 1280px;
    margin: 0px auto;
}
.page-text__backlinks.jsx-3307320108 {
    padding: 10px 0px;
}
.root.jsx-1447009358 {
    display: flex;
    flex-wrap: wrap;
}
.root.jsx-1447009358 > * {
    margin: 5px 5px 0px 0px;
    word-break: break-word;
}
.link_theme_gray.jsx-721911361 {
    color: rgb(36, 35, 35);
}

.link.jsx-721911361 {
    transition: all 200ms ease 0s;
}
.root.jsx-1447009358 > * {
    margin: 5px 5px 0px 0px;
    word-break: break-word;
}
@media (min-width: 1280px) {
    .page-text__essay.jsx-3307320108 {
        max-width: 980px;
        padding-right: 50px;
    }
}

.page-text__essay.jsx-3307320108 {
    flex: 1 1 0%;
}
@media (min-width: 1280px) {
    .page-text__analyzer.jsx-3307320108 {
        width: 300px;
        margin-top: -20px;
    }
}
.page-text__analyzer.jsx-3307320108 {
    margin-top: 30px;
}
element.style {
    background-color: rgb(255, 214, 0);
}
.root.jsx-2243390142 {
    background: rgb(255, 214, 0);
    border-radius: 20px;
    min-width: 200px;
    min-height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    margin: 0px 2px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
}
.page-text__gpt.jsx-3307320108 {
    margin: 30px 0px;
}

.advice-item {
    font-size: 16px;
    /* color: rgb(228, 227, 227); */
    box-sizing: border-box;
    outline: none;
    font-family: -apple-technique, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    box-shadow: rgba(58, 54, 54, 0.771) 0px 0px 5px;
    display: flex;
}
.advice-item__type.jsx-2246174887 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(247, 236, 181);
    padding: 5px 10px;
}
.advice-item__title.jsx-2246174887 {
    font-weight: 600;
    padding: 15px;
    display: flex;
    text-transform: capitalize;
}
.advice-item__text.jsx-2246174887 {
    margin-top: 0px;
    padding: 0px 15px 15px;
    line-height: 20px;
    font-size: 16px;
    color: rgb(42, 38, 38);
}
@media (min-width: 1280px) {
    .page-text__advice.jsx-3307320108 {
        display: block;
    }
}

    .page-text__advice.jsx-3307320108 {
    margin-top: 20px;
    display: none;
}
.highlight-legends__item_linkingwords.jsx-2993038294 {
    background-color: rgba(118, 226, 155, 0.3);
}

.highlight-legends__item.jsx-2993038294 {
    padding: 15px;
    font-size: 16px;
    line-height: 122.77%;
    letter-spacing: -0.015em;
    color: rgb(37, 37, 37);
    width: 100%;
    min-height: 52px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
}
.highlight-legends__item_linkingwords.jsx-2993038294 {
    background-color: rgba(118, 226, 155, 0.3);
}
.highlight-legends__item-counter.jsx-2993038294 {
    width: 40px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    color: rgb(239, 90, 90);
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    flex-shrink: 0;
    margin-right: 15px;
}
.highlight-legends__item-name.jsx-2993038294 {
    color: rgb(248, 248, 248);
    font-weight: 600;
}
.highlight-legends__item-dscr.jsx-2993038294 {
    color: rgb(170, 170, 170);
    font-size: 14px;
}
.highlight-legends__item_repeatedwords.jsx-2993038294 {
    background: rgba(207, 214, 170, 0.3);
}
.highlight-legends__item-counter.jsx-2993038294 {
    width: 40px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    color: rgb(239, 90, 90);
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    flex-shrink: 0;
    margin-right: 15px;
}
.highlight-legends__item-name.jsx-2993038294 {
    color: rgb(224, 224, 224);
    font-weight: 600;
}
.highlight-legends__item-dscr.jsx-2993038294 {
    color: rgb(170, 170, 170);
    font-size: 14px;
}
.highlight-legends__item.jsx-2993038294:last-child {
    margin-bottom: 0px;
}
.highlight-legends__item_mistake.jsx-2993038294 {
    background: rgba(248, 148, 148, 0.3);
}
.highlight-legends__item.jsx-2993038294 {
    padding: 15px;
    font-size: 16px;
    line-height: 122.77%;
    letter-spacing: -0.015em;
    color: rgb(37, 37, 37);
    width: 100%;
    min-height: 52px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
}
.highlight-legends__item-counter.jsx-2993038294 {
    width: 40px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    color: rgb(239, 90, 90);
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    flex-shrink: 0;
    margin-right: 15px;
}
.highlight-legends__item-name.jsx-2993038294 {
    color: rgb(48, 48, 49);
    font-weight: 600;
}
.page-draft-text-analyzer__stats.jsx-2802957637 {
    display: flex;
    justify-content: space-around;
}

.page-draft-text-analyzer__section-container.jsx-2802957637 {
    padding: 30px 0px;
    border-bottom: 1px dashed rgb(193, 193, 193);
}
.page-draft-text-analyzer_active.jsx-2802957637 .page-draft-text-analyzer__stats.jsx-2802957637 span.jsx-2802957637 {
    color: rgb(103, 255, 166);
}
@media (min-width: 960px) {
    .h1.jsx-3521695127 {
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
    }
}
.h1.jsx-3521695127 {
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: rgb(1, 158, 67);
}
.caps.jsx-2419732110 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgb(170, 170, 170);
}
.number-container.jsx-1683523275 {
    height: 80px;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    justify-content: center;
}
.score-row {
    height: 85px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    font-style: normal;
    line-height: 20px;
    color: rgb(1, 158, 67);
}

.band-score-row {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgb(26, 24, 24);
    justify-content: center;
}
.page-draft-text-analyzer__stats.jsx-2802957637 {
    display: flex;
    justify-content: space-around;
}
.page-draft-text-analyzer__section-container.jsx-2802957637 {
    padding: 30px 0px;
    border-bottom: 1px dashed rgb(193, 193, 193);
}
.page-draft-text-analyzer_active.jsx-2802957637 .page-draft-text-analyzer__stats.jsx-2802957637 span.jsx-2802957637 {
    color: rgb(1, 158, 67);
}
.page-draft-text-analyzer_active.jsx-2802957637 .page-draft-text-analyzer__stats.jsx-2802957637 span.jsx-2802957637 {
    color: rgb(1, 158, 67);
}
.page-draft-text-analyzer__section-container.jsx-2802957637 {
    padding: 30px 0px;
    border-bottom: 1px dashed rgb(193, 193, 193);
}
.page-draft-text-analyzer__row.jsx-2802957637 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 122.77%;
    letter-spacing: -0.015em;
    color: rgb(61, 61, 61);
}
.circle_color_green.jsx-3372755461 {
    background: rgb(20, 195, 154);
}

.circle_color_green.jsx-3372755461 {
    background: rgb(20, 195, 154);
}

.circle.jsx-3372755461 {
    flex-shrink: 0;
    display: inline-flex;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(238, 238, 238);
    margin-right: 5px;
}
.circle_color_red.jsx-3372755461 {
    background: rgb(234, 21, 55);
}
.caps.jsx-2601907021 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}
.advice-item.jsx-2456982505 {
    box-shadow: 10 10 10px rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.advice-item__type.jsx-2456982505 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(74, 213, 180, 0.25);
    padding: 5px 10px;
}
.advice-item__title.jsx-2456982505 {
    font-weight: 600;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: capitalize;
}
.advice-item__text.jsx-2456982505 {
    margin-top: 0px;
    padding: 0 15px 15px 15px;
    line-height: 20px;
    font-size: 16px;
    color: #2c2626;
}